</div>
<div class="footer-container fixed-bottom">
    <!-- <h6 class="mt-5 text-center footer-text">Trademark iyanuShow 2020</h6> -->
    <small class="copyright">Copyright <i class="fa fa-copyright"></i> 2020 Sowande IyanuOluwa</small>
</div>
<script src="/scripts/jquery-3.5.1.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
</body>
</html>