<%- include ('partials/header.ejs') %>
<h1>Sign Up</h1>

<form action="/register" method="post">
<input type="text" name="username" id="" placeholder="username">
<input type="password" name="password" id="" placeholder="password">
<button type="submit" class="btn btn-primary">Register</button>
</form>
<%- include ('partials/footer.ejs') %>