/*general styling*/

/*variables*/
:root{
    --mainTextColor: #2c2b2b;
    --clr-primary-5: hsl(205, 51%, 44%);
    --clr-primary-1: hsl(205, 86%, 17%);
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --transition: all 0.3s linear;
    --clr-white: #fff;
    
}

/*base styles*/
html{
    font-size: 16px;
    
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;

}

/*naviation styles*/
ul.navbar-nav li{
    padding:10px ;
}
nav{
    background-color: #e9ecef;
    
}
/* Campgrounds page styles*/
.navbar{
    padding: 0;
}
.navbar .container-fluid{
    margin: auto 3%;
}
.navbar a{
    color: inherit !important;
    font-size: 1rem;
    text-decoration: none;
}
.navbar-brand{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item{
    margin-right: 10px ;
    padding:3px;

}
.nav-item a, a.navbar-brand {
    text-decoration:none;
}
.active{
    background-color: #8f9396;
    padding: 6.6px;
    /* display: inline-block; */
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jumbotron{
    padding: auto 0;
    
}
.jumbotron .container{
    padding: 0;
}
.jumbotron .container > h1{
    
    font-size: 2.4rem ;
    
}

/* form-page styles*/
.formdiv{
    width: 40%;
    margin: 2% auto 0;
    
    
}
.form-control{
    border: 1px solid black;
    border-radius: 10px;
    
}
.card-body.bg-light{
    text-align: start;
    font-size: 0.9rem;
    color: #56595c;
    padding: .5rem .25rem !important;
    
}
.camp-index{
    height: 150px;
}
.camp-index img{
    height: 100%;
    width: 100%;
}
.caption-name{
    display: inline-block;
}
/* .btn-sm {
    padding: .25rem .5rem;
    font-size: 0.75rem;
    line-height: 1;
    border-radius: .2rem;
    color: white;
} */
.figure.img-thumbnail{
    padding: 0;
}

.form-button{
    display: inline-flex;
    margin-bottom: .25rem;
}
.edit-form{
    display: inline-flex;
}
textarea{
    
    width: 100%;
    border: #2c2b2b 1px solid;
}
.footer-container{
    display: block;
    position: fixed;
    
}
/* buttons and links*/
.btn{
    display: inline-block;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: .6rem !important;
}
.btn-danger{
    background: #c91010;
}


.btn:hover {
    background: var(--clr-primary-1);
    color: var(--clr-primary-5);
}
.btn-danger:hover {
    background: #5e0c0c;
   color: var(--clr-white);
}
.back{
    color: #911515;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    
}
.back:hover{
    color: #911515;
}
